<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'currency/css/head.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'currency/css/font.css' %}">
    <script src="{% static 'public/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'currency/js/head.js' %}"></script>
</head>
<body>
    <header id="head">
        <span class="welcome">
            欢迎您访问星期天！
        </span>
        <ul class="ch_nav">
            <li>
                {% if data.username %}
                    <a href="javascript:" class="iconfont">{{ data.username }}</a>
                {% else %}
                    <a href="javascript:">用户登录</a>
                {% endif %}
            </li>
            <li>
                <a href="javascript:">
                    免费注册
                </a>
            </li>
            <li>
                <a href="javascript:" >
                    我的订单
                </a>
            </li>
            <li>
                <a href="javascript:">
                    用户中心
                </a>
            </li>
            <li>
                <a href="javascript:">
                    帮助中心
                </a>
            </li>
        </ul>
    </header>

    <nav id="sl_title">
        <img src="{% static 'public/images/login.png' %}" alt=""/>
        <form action="{% url 'shopping:search' %}" method="get">
            <span class="iconfont" style="font-size: 25px;color: #DBDADA;font-weight: bold;">&#xe64e;</span>
            <input type="text" name="search" placeholder="搜索商品" autocomplete="off"/>
            <button>搜索</button>
        </form>
        <div id="shopping">
            <span class="iconfont" style="color: #FF0B01;font-size: 25px;font-weight: bold;">&#xe899;</span>
            <span>我的购物车</span>
            <i class="number">
                {% if data.status.0.num %}
                    {{ data.status.0.num }}
                {% else %}
                    0
                {% endif %}
            </i>
        </div>
    </nav>
</body>
</html>
