* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

nav {
    width: 100%;
    height: 115px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav img {
    height: 245px;
}
nav form {
    display: flex;
    justify-content: center;
}
nav form input {
    width: 470px;
    height: 38px;
    border: 1px solid #FF3701;
    border-left: 0;
    outline: none;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.5;
    font-family: tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
}
nav form span {
    border: 1px solid #FF3701;
    border-right: 0;
    height: 38px;
    width: 45px;
    text-align: center;
    line-height: 38px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
nav form button {
    border: 0;
    width: 100px;
    height: 38px;
    background: linear-gradient(to right, #FF3701, #FF0B01);
    color: white;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
#shopping {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 125px;
    height: 38px;
    border: 1px solid #eee;
    border-radius: 3px;
    color: #FF0B01;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}
#shopping:hover {
    border: 1px solid #FF0B01;
    cursor: pointer;
}
#shopping i {
    position: absolute;
    font-style: normal;
    top: 0;
    left: 25px;
    display: block;
    width: 18px;
    height: 14px;
    background-color: #FF0B01;
    color: #fff;
    border-radius: 7px;
    font-size: 10px;
    text-align: center;
    line-height: 14px;
}
article {
    width: 1225px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid skyblue;
    display: flex;
}

article #bulletin_board {
    border: 1px solid seagreen;
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    height: 510px;
    width: 194px;
}
article #bulletin_board ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 510px;
    width: 194px;
    margin: 0;
    padding: 0;
}
article #bulletin_board ul li {
    width: 212px;
    height: 20px;
    line-height: 20px;
}
article #bulletin_board ul li:hover .h{
    color: #FF3701;
}
article #bulletin_board ul li a:hover {
    text-decoration: underline;
}
article #bulletin_board ul li span {
    padding: 0 3px;
    font-weight: 400;
}
article #bulletin_board ul li a {
    color: #666666;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
}
#central_navigation {
    width: 520px;
    height: 512px;
    display: flex;
    flex-direction: column;
    background-color: saddlebrown;
    justify-content: space-around;
}
#central_navigation_one {
    width: 520px;
    height: 280px;
    border-radius: 5px;
    overflow: hidden;
}
#central_navigation_two {
    width: 520px;
    height: 201px;
    border-radius: 5px;
    overflow: hidden;
}
#central_navigation_two img {
    width: 251px;
    height: 190px;
    border-radius: 15px;
}
.seize_a_seat {
    width: 520px;
    height: 201px;
    background-color: #1DAB39;
}
#central_navigation_two .carousel-caption {
    right: 0;
    left: 0;
    padding: 0;
    width: 520px;
    height: 201px;
    bottom: 0;
    background-color: sandybrown;
}
.images {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#user_information {
    background-color: #F3F3F3;
    width: 384px;
    height: 508px;
    border: 1px solid saddlebrown;
}






























@font-face {
  font-family: 'iconfont';  /* Project id 3203454 */
  src: url('//at.alicdn.com/t/font_3203454_3r5j9csdtp6.woff2?t=1646565513510') format('woff2'),
       url('//at.alicdn.com/t/font_3203454_3r5j9csdtp6.woff?t=1646565513510') format('woff'),
       url('//at.alicdn.com/t/font_3203454_3r5j9csdtp6.ttf?t=1646565513510') format('truetype');
}
.icon_font{
    font-family:"iconfont" !important;
    font-size:25px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #DBDADA;
    font-weight: bold;
}
.i_f {
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
    font-weight: 400;
    margin-right: 10px;
}
