@font-face {
  font-family: 'iconfont';  /* Project id 3203454 */
  src: url('//at.alicdn.com/t/font_3203454_au69tq18oib.woff2?t=1647346993673') format('woff2'),
       url('//at.alicdn.com/t/font_3203454_au69tq18oib.woff?t=1647346993673') format('woff'),
       url('//at.alicdn.com/t/font_3203454_au69tq18oib.ttf?t=1647346993673') format('truetype');
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
