#common_bottom {
    display: flex;
    width: 1155px;
    justify-content: space-between;
    margin: 50px auto 0;
}
#common_bottom div {
    display: flex;
    align-items: center;
}
#common_bottom i {
    background-image: url('../shopping/images/footer_tips.png');
    width: 36px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: 113px 86.5px;
}
#common_bottom span {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 400;
    color: #444;
}
#tail {
    width: 1155px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}
#tail ul li {
    width: 158px;
    height: 22px;
    color: #666;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
}
#tail ul li:nth-child(1) {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
#statement {
    width: 100%;
    height: 85px;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #4e4e4e;
    margin-top: 25px;
}
#statement ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.bot {
    font-size:24px;
    color: #3c3c3c;
}

